
        body {
            font-family: "Roboto"; 
            font-weight: 400;
            font-style: normal;
        }
        /* ejercicio de caja*/
        .caja {
            /* propiedades especiales que se heredan*/
            font-size: 20px;
            color: red;

            color: rgba(38, 18, 150, 0.445);
            outline: 1px solid red;
            height: 100px;
            width: 100%;
            border: 5px solid orange;
            padding: 50px;
            margin: 50px;  
        }

        header > nav > a {
            font-size: 50px
        }
        aside a {
            color: green;
        }

        /*compartir propiedad css */
        h2, .texto-centrado{
            text-align: center;
        }

        h1 {
            color: red;
        }

        .texto-grande {
            font-size: 60px;
            color: blue;
        }

        #texto-pequeño {
            font-size:  10xp;
            color: yellow;
        }

        /*estilizar textos */
        .alineacion {
            /*alineacion a la izquier */
             /*text-align: left;*/

             /*alineacion al centro */
             /*text-align: center;*/

             /*alineacion a la derecha */
             /*text-align: right;*/

             /*justificar textos */
            text-align: justify;
            
        }

        .tamaños {
            /* tamaño por defecto */
            /* font-size: 16px;*/
            font-size: 100xp;
        }

        .decoraciones {
            /*subrayado */
            /*text-decoration: underline; */
            text-decoration: line-through;
        }

        .quitar-subrayado {
            text-decoration: unset;
        }

        .transformaciones {
            /* primera letr de cada palabra en mayuscula */
            /* text-transform: capitalize; */

            /*todo en mayuscula */
            /*text-trnsform: uppercase; */

            /*todo minusculas */
            text-transform: lowercase;

        }

        .espaciado-de-textos {
            /* modifica es espacio entre cada linea de texto */
            line-height: 25px;
            /* espaciado entre letras */
            letter-spacing: 3px;
            /* espaciado entre palabras*/
            word-spacing: 20px;
             
        }

        .grosor-letra {
            /* el valor del grosor se puede manejar en un rango de 0 a 900, va de 100 en 100 */
            font-weight: lighter;
        }
        .posicion-caja-1, .posicion-caja-2, .posicion-caja-3 {
            height: 100px;
            width: 100px;
            border: 3px solid blue;
            margin: 20px;

        }
 .posicion-caja-1{
    /*el movimiento va a ser relativo a su posicion original*/
            position: relative;
            left: 40px;
            bottom: 50px;
        }
 .posicion-caja-2 {
    /*el elemento pierde su posicion */
    /*y lo podemos mover en relacion al elemento padre que tenga un relative */
        position: absolute;
        border-color: blueviolet;
        bottom: 0;
        right: 0;
    }

 .posicion-caja-3{
    position:fixed;
    top: 0;
    left: 0;
    
 }